/*
 * Shuriken v0.1 Core CSS
 */

/* TAGS */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

body[lang="en"] {
}

body[lang="ja"] {
  font-family: 'Noto Sans JP';
  font-weight: 300;
}

p {
}

p.lead {

}

p.light {
  font-weight: 300;
}

p[lang="ja"] {
}

p[lang="ja"].lead {
  font-family: 'Noto Sans JP', 'Meiryo UI';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.sh-seotitle {
  margin: 0;
  padding: 0;
  font-size: 0;
  color: rgb(39, 27, 27);
  border: none;
}



/* ELEMENTS */
.sh-divider {
  margin: 1rem 0;
}

.sh-divider-blank {
  margin: 0.5rem 0;
  border-color: transparent;
}

.sh-card {

}
.sh-card ul {

}
.sh-card li {

}

.bg-secondary a {
  color: #aaf;
}

/* Warpbox */
.sh-warpbox {
  height: 100%;
  position: relative;
  text-align: center;
}

.sh-warpbox-content {
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

.sh-warpbox-content p {
  font-size: 0.8em;
  margin-bottom: 2.5rem;
}

.sh-warpbox-content h4 {
  margin-top: 0.3rem;
}

.sh-warpbox-button {
  position: absolute; 
  bottom: 1rem; 
  width: 100%;
}

.sh-experience p {
  font-size: 1.1em;
}

.sh-experience h3 {
  font-size: 1.4em;
  font-weight: 300;
}

.sh-experience figure {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sh-experience figcaption {
  margin-top: 2px;
  font-size: 0.8rem;
  color: rgba(150,150,150)
}

.sh-experience .feature {
  background: rgba(245,240,235,1);
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.sh-experience .feature p {
  font-family: 'Gloria Hallelujah', Tahoma, sans-serif;
  color: #000;
  font-weight: 400;
}

.sh-experience input[type='text'] {
  width: 100%;
}

.sh-experience textarea {
  width: 100%;
}

.sh-experience form label {
  font-weight: 500;
}

/* SECTIONS */
#sh-section-header {
  margin-bottom: 2em;
}

#sh-section-header .inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25rem;
}

#sh-section-header .inner .item {
}

#sh-section-header .inner .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 25rem;
  z-index: -1;

  width: 100%;
  object-fit: cover;
  object-position: 65% 0px;
}

#sh-section-header .inner .item .bar {
  position: absolute;
  bottom: 0;
  height: 1rem;
  width: 100%;
  background: rgba(0,0,0,0.2);
}

#sh-section-header .inner .item #particles-js {
  position: absolute;
  background: transparent;
  width: 40rem;
  height: 25rem;
}

#sh-section-header .inner .item .feature {
  background: rgba(245,240,235,0.5);
  padding: 10px;
  margin-bottom: 2rem;
  max-width: 25rem;
}

#sh-section-header .inner .item .feature p {
  font-family: 'Gloria Hallelujah', Tahoma, sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.5rem;
}

#sh-section-header .inner .item .feature h2 {
  font-family: 'Gloria Hallelujah', Tahoma, sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

#sh-section-header .inner .item .feature-ja {
  background: rgba(255,255,255,0.3);
  padding: 10px;
  margin-bottom: 2rem;
  max-height: 14rem;
  max-width: 25rem;
}

#sh-section-header .inner .item .feature-ja p[lang="ja"] {
  float: right;
  writing-mode: vertical-rl;
  font-family: 'Noto Sans JP', 'Meiryo UI';
  text-orientation: upright;
  text-transform: full-width;
  line-height: 1rem;
}

@media only screen and (min-width: 768px) {

  #sh-nav-mobile {
    visibility: hidden;
    display: none;
  }

}

/* Mobile-specific layout and style exceptions */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  #sh-nav-full {
    display: none;
    visibility: hidden;
  }

  .sh-warpbox {
    height: 100%;
    position: relative;
    text-align: left;
    padding: 0.3rem;
  }
  
  .sh-warpbox p, .sh-warpbox h4 {
    font-size: 0.8em;
    display: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .sh-warpbox-button {
    position: absolute;
    top: 0.6rem;
    left: 4rem;
  }

  .sh-warpbox-button button {
    margin: 15px;
    top: 15px;
  }

  .sh-warpbox div {
    padding: 0 !important;
    margin: 0 !important;
  }

  .sh-warpbox div > * {
    display: inline !important;
    margin: 2px;
    float: left;
  }

}