/*
 * Shuriken v0.1 Core CSS
 */
 @font-face {font-family: "Sofia Pro Ultra Light"; src: url("//db.onlinewebfonts.com/t/bc783a30ea350022ac8b85daa3380484.eot"); src: url("//db.onlinewebfonts.com/t/bc783a30ea350022ac8b85daa3380484.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bc783a30ea350022ac8b85daa3380484.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bc783a30ea350022ac8b85daa3380484.woff") format("woff"), url("//db.onlinewebfonts.com/t/bc783a30ea350022ac8b85daa3380484.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bc783a30ea350022ac8b85daa3380484.svg#Sofia Pro") format("svg"); }
 @font-face {font-family: "Sofia Pro Extra Light"; src: url("//db.onlinewebfonts.com/t/0c95ff6845bd542599a8eb781f2a65f3.eot"); src: url("//db.onlinewebfonts.com/t/0c95ff6845bd542599a8eb781f2a65f3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0c95ff6845bd542599a8eb781f2a65f3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0c95ff6845bd542599a8eb781f2a65f3.woff") format("woff"), url("//db.onlinewebfonts.com/t/0c95ff6845bd542599a8eb781f2a65f3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0c95ff6845bd542599a8eb781f2a65f3.svg#Sofia Pro") format("svg"); }
 @font-face {font-family: "Sofia Pro"; src: url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.eot"); src: url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.woff") format("woff"), url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.svg#Sofia Pro") format("svg"); }
 @font-face {font-family: "Sofia Pro Light"; src: url("//db.onlinewebfonts.com/t/aec4708719bc688b2b5226e044e40fa9.eot"); src: url("//db.onlinewebfonts.com/t/aec4708719bc688b2b5226e044e40fa9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/aec4708719bc688b2b5226e044e40fa9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/aec4708719bc688b2b5226e044e40fa9.woff") format("woff"), url("//db.onlinewebfonts.com/t/aec4708719bc688b2b5226e044e40fa9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/aec4708719bc688b2b5226e044e40fa9.svg#Sofia Pro") format("svg"); }

/* TAGS */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

body[lang="en"] {
}

body[lang="ja"] {
  font-family: 'Noto Sans JP';
  font-weight: 300;
}

p {
}

p.lead {

}

p.light {
  font-weight: 300;
}

p[lang="ja"] {
}

p[lang="ja"].lead {
  font-family: 'Noto Sans JP', 'Meiryo UI';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.sh-seotitle {
  margin: 0;
  padding: 0;
  font-size: 0;
  color: rgb(39, 27, 27);
  border: none;
}

/* BACKGROUNDS (BOOTSTRAP-NOTATION) */
.bg-wine, .btn-wine {
  background-color: #700;
  color: #eee;
}

.bg-wine:hover, .btn-wine:hover {
  color: #ecc;
}

.bg-blue, .btn-blue {
  background-color: #057;
  color: #eee;
}

.bg-blue:hover, .btn-blue:hover {
  color: #cce;
}


/* ELEMENTS */
.sh-divider {
  margin: 1rem 0;
}

.sh-divider-blank {
  margin: 0.5rem 0;
  border-color: transparent;
}

.sh-card {

}
.sh-card ul {

}
.sh-card li {

}

.bg-secondary a {
  color: #aaf;
}

/* Warpbox */
.sh-warpbox {
  height: 100%;
  position: relative;
  text-align: center;
}

.sh-warpbox-content {
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

.sh-warpbox-content p {
  font-size: 0.9em;
  margin-bottom: 2.5rem;
  font-family: 'Sofia Pro Light', Tahoma, serif;
}

.sh-warpbox-content h4 {
  margin-top: 0.3rem;
  font-family: 'Sofia Pro', Tahoma, serif;
}

.sh-warpbox-button {
  position: absolute; 
  bottom: 1rem; 
  width: 100%;
}

.sh-experience p {
  font-size: 1.1em;
  font-family: 'Sofia Pro Light', Tahoma, sans;
}
.sh-experience h2, .sh-abilities h2 {
  font-family: 'Sofia Pro', Tahoma, sans;
}

.sh-experience h3 {
  font-family: 'Sofia Pro Light', Tahoma, sans;
  font-size: 1.4em;
  font-weight: 300;
}

.sh-experience ul li {
  font-family: 'Sofia Pro Light', Tahoma, sans;
}

.sh-experience figure {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sh-experience figcaption {
  margin-top: 2px;
  font-size: 0.8rem;
  color: rgba(150,150,150)
}

.sh-experience .feature {
  background: rgba(245,245,245,1);
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.sh-experience .feature p {
  font-family: 'Gloria Hallelujah', Tahoma, sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.7rem;
}

.sh-experience input[type='text'] {
  width: 100%;
}

.sh-experience textarea {
  width: 100%;
}

.sh-experience form label {
  font-weight: 500;
}

.sh-businesscard {
  font-size: 0.7rem;
  border: 1px solid #aaa;
}

/* SECTIONS */
#sh-section-header {
  margin-bottom: 2em;
}

#sh-section-header .inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25rem;
  background: rgba(0,0,0,0);
}

#sh-section-header .inner .item {
  background: rgba(0,0,0,0);
}

#sh-section-header .inner .item > img.primary {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  left: 0;
  height: 25rem;
  z-index: -4;

  width: 100%;
  object-fit: cover;
  object-position: 65% 0px;
}


#sh-section-header .inner .item > img.overlay {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  left: 0;
  height: 25rem;
  z-index: -3;

  width: 100%;
  object-fit: cover;
  object-position: 30% 0px;
}

#sh-section-header .inner .item .sh-bar {
  position: absolute;
  bottom: 0;
  height: 1rem;
  width: 100%;
  background: rgba(0,0,0,0.2);
  font-size: 0.6rem;
  text-align: right;
  color: rgba(255,255,255,0.8);
}

#sh-section-header .inner .item #particles-js {
  position: absolute;
  background: transparent;
  width: 40rem;
  height: 25rem;
}

#sh-section-header .inner .item .button {
  font-family: 'Sofia Pro', sans-serif;
}

#sh-section-header .inner .item .feature {
  /*background: rgba(245,240,235,0.8);*/
  padding: 5px;
  margin-bottom: 2rem;
  max-width: 20rem;
}

#sh-section-header .inner .item .feature p {
  font-family: 'Sofia Pro Light', Tahoma, sans;
  /*font-family: 'Gloria Hallelujah', Tahoma, sans-serif;*/
  color: #000;
  font-weight: 100;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

#sh-section-header .inner .item .feature ul li {
  font-weight: 300;
  color: #000;
}

#sh-section-header .inner .item .feature h2 {
  font-family: 'Sofia Pro', Tahoma, sans;
  letter-spacing: px;
  /*font-family: 'Gloria Hallelujah', Tahoma, sans-serif;*/
  color: #000;
  font-weight: 800;
  font-size: 2.0rem;
  line-height: 1.5rem;
}

#sh-section-header .inner .item .feature-ja {
  background: rgba(255,255,255,0.3);
  padding: 10px;
  margin-bottom: 2rem;
  max-height: 14rem;
  max-width: 25rem;
}

#sh-section-header .inner .item .feature-ja p[lang="ja"] {
  float: right;
  writing-mode: vertical-rl;
  font-family: 'Noto Sans JP', 'Meiryo UI';
  text-orientation: upright;
  text-transform: full-width;
  line-height: 1rem;
}

.sh-meet img {
  position: absolute;
  top: -25px;
  left: 10px;
}

@media only screen and (min-width: 768px) {

  .sh-mobile-only {
    visibility: hidden;
    display: none;
  }
}

/* Mobile-specific layout and style exceptions */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  #sh-section-header .inner .item .feature h2 {
    font-size: 1.3rem;
  }

  #sh-section-header .inner .item .feature p {
    font-size: 1.0rem;
  }

  #sh-section-header .inner .item .feature ul li {
    font-size: 0.9rem;
  }

  .sh-experience h2, .sh-experience h3, .sh-abilities h2, .sh-experience p {
    text-align: center;
  }

  .sh-desktop-only {
    display: none;
    visibility: hidden;
  }

  .sh-warpbox {
    height: 100%;
    position: relative;
    text-align: left;
    padding: 0.3rem;
  }
  
  .sh-warpbox p, .sh-warpbox h4 {
    font-size: 0.8em;
    display: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .sh-warpbox-button {
    position: absolute;
    top: 0.6rem;
    left: 4rem;
  }

  .sh-warpbox-button button {
    margin: 15px;
    top: 15px;
  }

  .sh-warpbox div {
    padding: 0 !important;
    margin: 0 !important;
  }

  .sh-warpbox div > * {
    display: inline !important;
    margin: 2px;
    float: left;
  }

}