{% extends 'templates/base.html' %}
{% load static %}
{% load i18n %}



{% block banner %}
    <div id="sh-section-header" class="slide" data-ride="carousel">
        <div class="inner">
            <div class="item active">

                {% block BANNER_IMG %}<img src="{% static 'img/header01.png' %}" class="img-responsive" alt="{% trans 'Banner image' %}">{% endblock %}
                <div id="particles-js"></div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 my-5">
                            {% if request.LANGUAGE_CODE == 'ja' %}
                            <div class="feature-ja rounded">
                                <p lang="ja" class="mb-0"></p>
                                <div style="clear: both"></div>
                            </div> 
                            {% else %}
                            <svg viewbox="0 0 10 6">
                                <text x="0" y="1" text-anchor="left" font-size="1.4" fill="rgba(255,255,255,0.0" stroke-width=".035" stroke="#000" font-family="Bebas Neue">THE</text>
                                <text x="0" y="2.1" text-anchor="left" font-size="1.4" fill="rgba(255,0,0,0.5)" stroke-width=".035" stroke="#000" font-family="Bebas Neue">JAPANESE</text>
                                <text x="0" y="3.2" text-anchor="left" font-size="1.4" fill="rgba(0,0,0,1)" stroke-width=".035" stroke="#000" font-family="Bebas Neue">STARTUP ECOSYSTEM</text>
                                <text x="0" y="4.0" text-anchor="left" font-size="0.7" fill="rgba(0,0,0,1)" stroke-width=".035" stroke="#000" font-family="Bebas Neue">2020</text>
                                <text x="0" y="5.0" text-anchor="left" font-size="0.5" fill="rgba(0,0,0,0.5)" stroke-width=".035" stroke="none" font-family="Bebas Neue">AUTHOR: JAAKKO RAJANIEMI</text>
                                <text x="0" y="5.5" text-anchor="left" font-size="0.3" fill="rgba(0,0,0,1)" stroke-width=".035" stroke="none" font-family="Meiryo UI">＊この著者は、英語のみで提供いたします。</text>
                            </svg>
                            {% endif %}
                            {% block HEADER_BUTTONS %}
                            <button class="btn btn-md btn-info" onclick="window.location.href='/contact';">{% trans 'Download PDF' %} &raquo;</button>
                            <button class="btn btn-md btn-primary" onclick="window.location.href='/contact';">{% trans 'Purchase hard copy' %} &raquo;</button>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                
                <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <a name="chapters"></a>
    {% if book %}
        {% for chapter in book.tree %}
        <a name="#chapter{{ forloop.counter }}"></a>
            <div class="row featurette">
                <div class="container experience">
                    <div class="row">
                        <div class="col-lg">
                            <div class="d-flex w-100 justify-content-between">
                                <h2 class="featurette-heading">{% trans 'Chapter ' %} {{ forloop.counter }} &dash; {{ chapter.0.data.title }}</h2>
                                
                            </div>

                            <p class="lead">
                                {{ chapter.0.data.description }}
                            </p>
                        </div>
                    </div>
                    <hr class="sh-divider-blank">
                    <div class="row">
                        <div class="col-lg my-auto">
                            <div class="list-group">
                            {% for schapter in chapter.1 %}
                                <a class="list-group-item list-group-item-action py-2" href="/book/chapter/{{ schapter.0.data.slug }}#top" target="">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 style="color: #06a; font-weight: 400; font-size: 1.0rem" class="mb-1">{{ forloop.parentloop.counter}}.{{ forloop.counter }} {{ schapter.0.data.title }}</h5>
                                        <small>{{ schapter.0.data.updated_at }}</small>
                                      </div>
                                      <small><!-- {{ schapter.0.data.description }} --></small>
                                </a>

                                {% for sschapter in schapter.1 %}
                                    <a class="list-group-item list-group-item-action py-2" style="text-indent: 2rem;" href="/book/chapter/{{ schapter.0.data.slug }}#top" target="">
                                        
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 style="color: #06a; font-weight: 300; font-size: 0.9rem" class="mb-1">{{ forloop.parentloop.counter}}.{{ forloop.counter }} {{ sschapter.0.data.title }}</h5>
                                            <small>{{ sschapter.0.data.updated_at }}</small>
                                          </div>
                                          <small><!-- {{ schapter.0.data.description }} --></small>
                                    </a>
                                {% endfor %}

                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    {% endif %}
        </div>
{% endblock %}