{% extends 'templates/base.html' %}
{% load static %}
{% load i18n %}

{% block banner %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/banner-specimen-9.png' %}" class="img-responsive" alt="">
            <div class="container" id="particles-js">
                <div class="carousel-caption text-left">
                    {% if request.LANGUAGE_CODE == 'ja' %}
                    <p lang="ja" class="japanese">
                        1990年にフィンランドで生まれ、<br />来日してから立教大学大学院を卒業し、<br />ベンチャー企業の日本進出支援と<br />大企業の新規事業創出支援業務に従事。<br /><br />
                        1990年にフィンランドで生まれ、<br />来日してから立教大学大学院を卒業し、<br />ベンチャー企業の日本進出支援と<br />大企業の新規事業創出支援業務に従事。<br /><br />
                        1990年にフィンランドで生まれ、<br />来日してから立教大学大学院を卒業し、<br />ベンチャー企業の日本進出支援と<br />大企業の新規事業創出支援業務に従事。<br /><br />
                        
                    </p>
                    {% elif request.LANGUAGE_CODE == 'en' %}
                    <p class="lead text-dark">
                        <span class="align-bottom">BOOK TITLE</span>
                    </p>
                    {% endif %}
                    <a class="btn btn-md btn-info" href="/contact" role="button">{% trans 'Request a meeting' %} &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="warpbox shadow bg-light rounded">
                        <div class="p-3 mb-2">
                            <i class="fa fa-book fa-3x" style="color: #032"></i>
                            <h2>{% trans 'Read online' %}</h2>
                            <p style="margin-bottom: 2.5rem;">{% trans 'This book makes a deep dive into the history, structure, culture and market entry patterns of the Japanese startup ecosystem. The book is available free of charge.' %}</p>
                        </div>  
                        <div style="position: absolute; bottom: 1rem; width: 100%;">
                            <a class="btn btn-info" href="#chapters" role="button">{% trans 'Read' %} &raquo;</a>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="warpbox shadow bg-light rounded">
                        <div class="p-3 mb-2">
                            <i class="fa fa-folder-open fa-3x" style="color: #032"></i>
                            <h2>{% trans 'Download' %}</h2>
                            <p style="margin-bottom: 2.5rem;">{% trans 'Additional resources for the book, including summary slides, cultural tools, market entry tools and past market entry case studies.' %}</p>
                        </div>
                        <div style="position: absolute; bottom: 1rem; width: 100%;">
                            <a class="btn btn-info" href="/book/download" role="button">{% trans 'Download' %} &raquo;</a>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="warpbox shadow bg-light rounded">
                        <div class="p-3 mb-2" style="">
                            <i class="fa fa-quote-right fa-3x" style="color: #611"></i>
                            <h2>{% trans 'Purchase' %}</h2>
                            <p style="margin-bottom: 2.5rem;">{% trans 'My personal blog about Japanese startup ecosystem, the related business culture, foreign market entry patterns, and other concurrent topics on startups.' %}</p>
                        </div>
                        <div style="position: absolute; bottom: 1rem; width: 100%;">
                            <a class="btn btn-info" href="/blog" role="button">{% trans 'Go to Amazon' %} &raquo;</a>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    
    <a name="chapters"></a>
    {% if book %}
        {% for chapter in book.tree %}
        <a name="#chapter{{ forloop.counter }}"></a>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="container experience">
                    <div class="row">
                        <div class="col-lg">
                            <div class="d-flex w-100 justify-content-between">
                                <h2 class="featurette-heading">{% trans 'Chapter ' %} {{ forloop.counter }} &dash; {{ chapter.0.data.title }}</h2>
                                <div>
                                    <i class="fa fa-facebook-official mx-2" style="color: #33a; font-size: 1.3rem;"></i>
                                    <i class="fa fa-linkedin-square mx-2" style="color: #47e; font-size: 1.3rem;"></i>
                                    <i class="fa fa-twitter-square mx-2" style="color: #7cf; font-size: 1.3rem;"></i>
                                </div>
                            </div>

                            <p class="lead">
                                {{ chapter.0.data.description }}
                            </p>
                        </div>
                    </div>
                    <hr class="featurette-divider-blank">
                    <div class="row">
                        <div class="col-lg my-auto">
                            <div class="list-group">
                            {% for schapter in chapter.1 %}
                                <a class="list-group-item list-group-item-action py-2" href="/book/chapter/{{ schapter.0.data.slug }}#top" target="">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 style="color: #06a; font-weight: 400; font-size: 1.0rem" class="mb-1">{{ forloop.parentloop.counter}}.{{ forloop.counter }} {{ schapter.0.data.title }}</h5>
                                        <small>{{ schapter.0.data.updated_at }}</small>
                                      </div>
                                      <small><!-- {{ schapter.0.data.description }} --></small>
                                </a>

                                {% for sschapter in schapter.1 %}
                                    <a class="list-group-item list-group-item-action py-2" style="text-indent: 2rem;" href="/book/chapter/{{ schapter.0.data.slug }}#top" target="">
                                        
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 style="color: #06a; font-weight: 300; font-size: 0.9rem" class="mb-1">{{ forloop.parentloop.counter}}.{{ forloop.counter }} {{ sschapter.0.data.title }}</h5>
                                            <small>{{ sschapter.0.data.updated_at }}</small>
                                          </div>
                                          <small><!-- {{ schapter.0.data.description }} --></small>
                                    </a>
                                {% endfor %}

                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    {% endif %}
            <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
{% endblock %}