{% extends 'templates/base.html' %}
{% load static %}
{% load i18n %}

{% block banner %}
<div id="sh-section-header" class="slide" data-ride="carousel">
    <div class="inner">
        <div class="item active">

            <img src="{% static 'img/banner-specimen-9.png' %}" class="img-responsive" alt="">
            <div id="particles-js"></div>
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 my-5">
                        {% if request.LANGUAGE_CODE == 'ja' %}
                        <div class="feature-ja rounded">
                            <p lang="ja" class="mb-0">私はフィンランドに生まれたが、2017年から東京に住んでいる。</p>
                            <p lang="ja" class="mb-0">私はフィンランドに生まれたが、2017年から東京に住んでいる。</p>
                            <p lang="ja" class="mb-0">私はフィンランドに生まれたが、2017年から東京に住んでいる。</p>
                            <div style="clear: both"></div>
                        </div> 
                        {% else %}
                        <div class="feature rounded">
                            <p>An open innovation and startup consultant based in Tokyo specialized in startups, global market entry, corporate innovation and public sector innovation advisory.</p>
                            <p class="mb-0">Born and raised in Helsinki with a strong background in programming and interest in culture, travel and lifestyle.</p>
                        </div> 
                        {% endif %}
                        <a class="btn btn-md btn-info" href="/contact" role="button">{% trans 'Request a meeting' %} &raquo;</a>
                    </div>
                </div>
            </div>
            
            <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="container sh-experience">
            <div class="row">
                <div class="col-lg">
                    <h2 class="featurette-heading">{% trans 'Contact form' %}</h2>
                    <p class="light">Submitting this form will immediately dispatch an email to me, and you can also opt to get a receipt. All inquiries will be treated confidentially.</p>
                    <p>{{ form.non_field_errors }}</p>


                    <form method="post">
                        {% csrf_token %}
                        <div class="container mt-5">
                            <div class="row my-3">
                                <div class="col-lg-2">
                                    <label for="{{ form.subject.id_for_label }}">Subject:</label>
                                    {{ form.subject.errors }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form.subject }}
                                </div>
                                <div class="col-lg-2">

                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-lg-2">
                                    <label for="{{ form.message.id_for_label }}">Message:</label>
                                    {{ form.message.errors }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form.message }}
                                </div>
                                <div class="col-lg-2">
                                    
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg">
                                    <div class="form-actions">
                                        <button class="btn btn-info" type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="sh-divider">

</div>
{% endblock %}



