{% extends 'templates/base.html' %}
{% load static %}
{% load i18n %}


{% block body %}
<div class="container">

    <div class="row">
        <div class="container sh-experience">
            <div class="row">
                <div class="col-lg">
                    <h2 class="featurette-heading">{% trans 'Contact form' %}</h2>
                    <p class="light">Submitting this form will immediately dispatch an email to me, and you can also opt to get a receipt. All inquiries will be treated confidentially.</p>
                    <p>{{ form.non_field_errors }}</p>


                    <form method="post">
                        {% csrf_token %}
                        <div class="container mt-5">
                            <div class="row my-3">
                                <div class="col-lg-2">
                                    <label for="{{ form.subject.id_for_label }}">Subject:</label>
                                    {{ form.subject.errors }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form.subject }}
                                </div>
                                <div class="col-lg-2">

                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-lg-2">
                                    <label for="{{ form.message.id_for_label }}">Message:</label>
                                    {{ form.message.errors }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form.message }}
                                </div>
                                <div class="col-lg-2">
                                    
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg">
                                    <div class="form-actions">
                                        <button class="btn btn-info" type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="sh-divider">

</div>
{% endblock %}



