{% extends 'templates/base.html' %}
{% load static %}
{% load i18n %}

{% block META_DESCRIPTION %}Japan market entry information and experienced hands-on market entry consulting specialized in startups and large corporation partnerships.{% endblock %}
{% block SEOTITLE %}Experienced global startup and Japan market entry consulting{% endblock %}

{% block body %}
<div class="container">
    <div class="sh-desktop-only">
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="sh-warpbox shadow bg-light rounded">
                    <div class="sh-warpbox-content">
                        <i class="fa fa-book fa-3x" style="color: #057"></i>
                        <h4>Book</h4>
                        <p class="pb-1">Make a deep dive into the history, structure, culture and entry mechanics of the Japanese startup ecosystem.</p>
                    </div>  
                    <div class="sh-warpbox-button">
                        <button class="btn btn-blue" onclick="window.location.href='/contact';" role="button">{% trans 'Read' %} &raquo;</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sh-warpbox shadow bg-light rounded">
                    <div class="sh-warpbox-content">
                        <i class="fa fa-file fa-3x" style="color: #057"></i>
                        <h4>Resources</h4>
                        <p>Access complementary resources related to the book, including cultural frameworks and market entry models.</p>
                    </div>
                    <div class="sh-warpbox-button">
                        <button class="btn btn-blue" onclick="window.location.href='https://www.linkedin.com/in/jaakko-rajaniemi-a7a72654/';" role="button">{% trans 'Access' %} &raquo;</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sh-warpbox shadow bg-light rounded">
                    <div class="sh-warpbox-content">
                        <i class="fa fa-quote-right fa-3x" style="color: #700"></i><!-- #611 for wine -->
                        <h4>{% trans 'Blog' %}</h4>
                        <p>My blog with insights into Japanese business will be published here once coding is done.</p>
                    </div>
                    <div class="sh-warpbox-button">
                        <button class="btn btn-wine" role="button">{% trans 'Read' %} &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="sh-divider">
    </div>

    <div class="sh-mobile-only">
    </div>


    <div class="row">
        <div class="container sh-experience">
            <div class="row">
                <div class="col-lg">
                    <div class="row justify-content-between">
                        <div class="col-md-9"><h1>Professional experience</h1></div>
                    </div>
                    <p class="light">
                        I am a Global Innovation Consultant at <a href="https://www2.deloitte.com/jp/en/pages/about-deloitte/articles/dtvs/dtvs.html" target="_blank" rel="noopener">Deloitte Tohmatsu Venture Support</a>,
                        engaged in direct startup advisory, corporate co-creation, and
                        public sector startup initiatives. Before Deloitte, I was an 
                        organizer of <a href="https://www.slush.org/" target="_blank" rel="noopener">Slush Tokyo</a> and <a href="https://www.techinasia.com/" target="_blank" rel="noopener">Tech in Asia</a>. I am a <a href="https://www.pmi.org/certifications/types/certified-associate-capm" target="_blank" rel="noopener">Certified Associate of Project Management (CAPM)®</a>, a full-stack web-developer, 
                        a member of the <a href="http://www.fccj.or.jp/" target="_blank" rel="noopener">Finnish Chamber of Commerce Japan</a>, and business-proficient in English, Japanese (<a href="https://www.jlpt.jp/e/about/levelsummary.html" target="_blank" rel="noopener">JLPT N1</a>) and Finnish.
                    </p>
                </div>
            </div>
            <hr class="sh-divider-blank">
            <div class="row">
                <div class="col-lg-1 rounded" style="text-align: center; background-color: #fff; border: 1px solid #fff">
                    <i class="fa fa-home fa-3x pb-2" style="color: #000"></i>
                </div>
                <div class="col-lg-7 my-auto">
                    <h2>Startups</h2>
                    <ul>
                        <li>Operational support and Japan entry PMO for an European startup with over €50 million in total investment.</li>
                        <li>Mentor for a Japanese consumer app startup in a government-sponsored startup acceleration program.</li>
                        <li>Provided pitch training for a Japanese manufacturing startup planning to enter the Singaporean market.</li>
                    </ul>
                </div>
                <div class="sh-desktop-only col-lg-4 my-auto" style="text-align: center">
                    <figure class="figure my-auto">
                        <img class="rounded" src="{% static 'img/cvspeaker01.jpg' %}" alt="{% trans 'Judging a startup pitch contest at Slush Tokyo, 2018' %}" width="120" height="120" />
                        <figcaption class="figure-caption"><a href="https://www.slush.org/" target="_blank" rel="noopener">Slush Tokyo</a>, 2018 (Japan)</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-1 rounded" style="text-align: center; background-color: #fff; border: 1px solid #fff">
                    <i class="fa fa-building fa-3x pb-2" style="color: #000"></i>
                </div>
                <div class="col-lg-7 my-auto">
                    <h2>Large corporations</h2>
                    <ul>
                        <li>Performed business needs analysis for a corporation and listed 100 startups as collaboration candidates.</li>
                        <li>Conducted qualitative due diligence on a multi-million venture capital investment in real estate industry.</li>
                        <li>Provided hands-on negotiation support for co-innovation between a Japanese corporation and a global startup.</li>
                    </ul>
                </div>
                <div class="sh-desktop-only col-lg-4 my-auto" style="text-align: center">
                    <figure class="figure my-auto">
                        <img class="rounded" src="{% static 'img/2018_Ignite3.jpg' %}" alt="{% trans 'Judging a startup pitch contest at Slush Tokyo, 2018' %}" width="120" height="120" />
                        <figcaption class="figure-caption"><a href="https://www.slush.org/" target="_blank" rel="noopener">Slush Tokyo</a>, 2018 (Japan)</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-1 rounded" style="text-align: center; background-color: #fff; border: 1px solid #fff">
                    <i class="fa fa-seedling fa-3x pb-2" style="color: #000"></i>
                </div>
                <div class="col-lg-7 my-auto">
                    <h2>Ecosystems</h2>
                    <ul>
                        <li>Invited over 190 global startups to Japan and matched them with over 200 Japanese large corporations.</li>
                        <li>Conducted foreign startup ecosystem research in the Nordic countries and Russia for a local ministry.</li>
                        <li>Collaborated with local foreign embassies and the metropolitan government to showcase global startups.</li>
                    </ul>
                </div>
                <div class="sh-desktop-only col-lg-4 my-auto" style="text-align: center">
                    <figure class="figure my-auto">
                        <img class="rounded" src="{% static 'img/cvspeaker02.jpg' %}" alt="{% trans 'Speaking about the Japanese startup ecosystem at Ignite conference, Manila, 2018' %}" width="120" height="120" />
                        <figcaption class="figure-caption"><a href="https://www.ignite.ph/" target="_blank" rel="noopener">Ignite Manila</a>, 2018 (Philippines)</figcaption>
                    </figure>
                </div>
            </div>
            <hr class="sh-divider-blank">
            <div class="sh-mobile-only row mx-auto">
                <div class="col mx-auto">
                    <figure class="figure my-auto">
                        <img class="rounded" src="{% static 'img/cvspeaker01.jpg' %}" alt="{% trans 'Judging a startup pitch contest at Slush Tokyo, 2018' %}" width="120" height="120" />
                        <figcaption class="figure-caption"><a href="https://www.slush.org/" target="_blank" rel="noopener">Slush Tokyo</a>, 2018 (Japan)</figcaption>
                    </figure>
                </div>
                <div class="col mx-auto">
                    <figure class="figure my-auto">
                        <img class="rounded" src="{% static 'img/2018_Ignite3.jpg' %}" alt="{% trans 'Judging a startup pitch contest at Slush Tokyo, 2018' %}" width="120" height="120" />
                        <figcaption class="figure-caption"><a href="https://www.slush.org/" target="_blank" rel="noopener">Slush Tokyo</a>, 2018 (Japan)</figcaption>
                    </figure>
                </div>
                <div class="col mx-auto">
                    <figure class="figure">
                        <img class="rounded" src="{% static 'img/cvspeaker02.jpg' %}" alt="{% trans 'Speaking about the Japanese startup ecosystem at Ignite conference, Manila, 2018' %}" width="120" height="120" />
                        <figcaption class="figure-caption"><a href="https://www.ignite.ph/" target="_blank" rel="noopener">Ignite Manila</a><br />, 2018 (Philippines)</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col bg-light rounded-lg">
                            <span class="sh-cta-desc-title mt-1">Do the problems sound familiar?</span>
                            <span class="sh-cta-desc mb-2">Success is difficult to ensure, but applying best practices can reduce the risk of failure. Contact me to know if I can help.</span>
                        </div>
                        <div class="col-xs-1 my-auto">
                            <div class="sh-triangle-right ml-2 mr-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col rounded-lg my-auto">
                    <span class="sh-cta-call mt-1 mb-1" style="text-align: center">Need help? Let's find out together how I could help!</span>
                    <span class="sh-cta-btn mb-2"><button class="btn btn-block btn-sm btn-wine" onclick="window.location.href='/#experience';" width="100%">{% trans 'Contact me and describe your problem!' %} &raquo;</button></span>
                </div>
            </div>
        </div>
    </div>

    <hr class="sh-divider mt-5">

    <div class="row">
        <div class="container sh-experience">
            <div class="row">
                <div class="col-lg">
                    <h1>{% trans 'Education' %}</h1>
                </div>
            </div>
            <hr class="sh-divider-blank">
            <div class="row">
                <div class="col-lg-1 my-1" style="text-align: center">
                    <img src="{% static 'img/rikkyo-university-logo.png' %}" width="50" height="50">
                </div>
                <div class="col-lg my-auto">
                    <h2 class="mb-0">Rikkyo University</h2>
                    <span class="h3-lean">Graduate School of Business</span>
                    <ul class="mt-2">
                        <li>Graduation thesis focused global strategic M&A with DCF, multiples valuations and qualitative due diligence.</li>
                        <li>Conducted a Japan market entry feasibility study for a Nordic retail startup.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 my-1" style="text-align: center">
                    <img src="{% static 'img/turku-university-logo.gif' %}" width="50" height="50">
                </div>
                <div class="col-lg my-auto">
                    <h2 class="mb-0">University of Turku</h2>
                    <span class="h3-lean">School of Economics</span>
                    <ul class="mt-2">
                        <li>Graduation thesis focused Japanese business culture and intercultural communication.</li>
                        <li>Certificates in Japanese language and information systems management in business administration.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr class="sh-divider mt-5">

    <div class="row">
        <div class="container sh-abilities">
            <div class="row">
                <div class="col-lg">
                    <h1>{% trans 'Technical abilities' %}</span></h1>
                </div>
            </div>
            <hr class="sh-divider-blank">
            <div class="row">
                <div class="col-lg-6 my-2">
                    <div class="shadow rounded bg-blue">
                        <div class="row">
                            <div class="col-lg m-3">
                                <div style="float: left; width: 4rem"><i class="fa fa-briefcase fa-3x" style="color: #fff"></i></div>
                                <div style="float: left; font-size: 1.3rem" class="mt-2 text-light">{% trans 'Innovation management' %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <ul class="p-0 mx-5 text-light">
                                    <li>New business needs and strategy analysis</li>
                                    <li>Startup search and qualitative due diligence</li>
                                    <li>Market entry and business growth support</li>
                                    <li>State-of-the-art frameworks and models</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-2">
                    <div class="shadow rounded bg-light">
                        <div class="row">
                            <div class="col-lg m-3">
                                <div style="float: left; width: 4rem"><i class="fa fa-calendar-check fa-3x" style="color: #000"></i></div>
                                <div style="float: left; font-size: 1.3rem" class="mt-2">{% trans 'Project management' %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <ul class="p-0 mx-5">
                                    <li>Experience of both PM and PMO roles</li>
                                    <li>Managing virtual and multicultural teams</li>
                                    <li>Waterfall, agile, scrum and kanban styles</li>
                                    <li><a href="https://www.pmi.org/certifications/types/certified-associate-capm" target="_blank" rel="noopener">Certified Associate of Project Management®</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 my-2">
                    <div class="shadow rounded bg-light">
                        <div class="row">
                            <div class="col-lg m-3">
                                <div style="float: left; width: 4rem"><i class="fa fa-globe fa-3x" style="color: #000"></i></div>
                                <div style="float: left; font-size: 1.3rem" class="mt-2">{% trans 'Intercultural management' %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <ul class="p-0 mx-5">
                                    <li>Meeting facilitation in English and Japanese</li>
                                    <li>Lectures about cultural differences</li>
                                    <li>Tools from <a href="https://www.hofstede-insights.com/product/compare-countries/" target="_blank" rel="noopener">Hofstede</a>, <a href="https://www.erinmeyer.com/" target="_blank" rel="noopener">Meyer</a>, <a href="https://en.wikipedia.org/wiki/Edward_T._Hall" target="_blank" rel="noopener">Hall</a>, and more</li>
                                    <li>Book about cultural differences (in the works)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-2">
                    <div class="shadow rounded bg-blue">
                        <div class="row">
                            <div class="col-lg m-3">
                                <div style="float: left; width: 4rem"><i class="fa fa-database fa-3x" style="color: #fff"></i></div>
                                <div style="float: left; font-size: 1.3rem" class="mt-2 text-light">{% trans 'Product development' %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <ul class="p-0 mx-5 text-light">
                                    <li>Market research and consumer research</li>
                                    <li>Product customer journey development</li>
                                    <li>Experience of Python, Django, PHP, Symfony, C++</li>
                                    <li>Developed this website (<a href="https://github.com/jaakkorajaniemi" target="_blank" rel="noopener">available on github</a>)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="sh-divider">

    <div class="row">
        <div class="container sh-experience">
            <div class="row">
                <div class="col-lg mb-4">
                    <h1>{% trans 'Request for information' %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col bg-light rounded-lg">
                            <span class="sh-cta-desc-title mt-1">Do I have that skill you were missing?</span>
                            <span class="sh-cta-desc mb-2">Companies normally only hire people for their core operations. Sometimes you need to buy extra skills from the outside.</span>
                        </div>
                        <div class="col-xs-1 my-auto">
                            <div class="sh-triangle-right ml-2 mr-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col rounded-lg my-auto">
                    <span class="sh-cta-call mt-1 mb-1" style="text-align: center">Need help? Let's find out together how I could help!</span>
                    <span class="sh-cta-btn mb-2"><button class="btn btn-block btn-sm btn-wine" onclick="window.location.href='/#experience';" width="100%">{% trans 'Contact me and describe your problem!' %} &raquo;</button></span>
                </div>
            </div>
        </div>
    </div>
    
    <hr class="sh-divider">
</div><!-- /.container -->
{% endblock %}