{% extends 'templates/base.html' %}
{% load static %}
{% load i18n %}

{% block META_DESCRIPTION %}Japan market entry information and experienced hands-on market entry consulting specialized in startups and large corporation partnerships.{% endblock %}
{% block SEOTITLE %}Experienced global startup and Japan market entry consulting{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="sh-warpbox shadow bg-light rounded">
                <div class="p-3 mb-2">
                    <i class="fa fa-envelope fa-3x" style="color: #032"></i>
                    <h4 class="mt-1">{% trans 'Contact form' %}</h4>
                    <p class="mb-5">Use this button for inquiries. All business inquiries will be handled confidentially.</p>
                </div>  
                <div style="position: absolute; bottom: 1rem; width: 100%;">
                    <button class="btn btn-info" onclick="window.location.href='/contact';" role="button">{% trans 'Contact form' %} &raquo;</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="sh-warpbox shadow bg-light rounded">
                <div class="p-3 mb-2">
                    <i class="fa fa-linkedin-square fa-3x" style="color: #032"></i>
                    <h4 class="mt-1">{% trans 'LinkedIn' %}</h4>
                    <p class="mb-5">Use this link to access my LinkedIn profile and send a direct message.</p>
                </div>
                <div style="position: absolute; bottom: 1rem; width: 100%;">
                    <button class="btn btn-info" onclick="window.location.href='https://www.linkedin.com/in/jaakko-rajaniemi-a7a72654/';">{% trans 'Access' %} &raquo;</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="sh-warpbox shadow bg-light rounded">
                <div class="p-3 mb-2">
                    <i class="fa fa-quote-right fa-3x" style="color: #bbb"></i><!-- #611 for wine -->
                    <h4 class="mt-1">{% trans 'Blog' %}</h4>
                    <p class="mb-5">My blog with insights into Japanese business will be published here once coding is done.</p>
                </div>
                <div style="position: absolute; bottom: 1rem; width: 100%;">
                    <button class="btn btn-secondary" role="button" disabled>{% trans 'Read' %} &raquo;</button>
                </div>
            </div>
        </div>
    </div>

    <hr class="sh-divider">

    <div class="row">
        <div class="container sh-experience">
            <div class="row">
                <div class="col-lg">
                    <h2 class="featurette-heading">{% trans 'Professional experience' %}</h2>
                    <p class="light">
                        I currently work as a Global Innovation Consultant for <a href="https://www2.deloitte.com/jp/en/pages/about-deloitte/articles/dtvs/dtvs.html" target="_blank" rel="noopener">Deloitte Tohmatsu Venture Support</a> (Tokyo),
                        where I provide direct startup mentorship, advise Fortune 500 corporations on startup co-innovation,
                        and provide public sector startup advisory for ministries and local governments. Before Deloitte, I was an 
                        organizer at <a href="https://www.slush.org/" target="_blank" rel="noopener">Slush Tokyo</a> and <a href="https://www.techinasia.com/" target="_blank" rel="noopener">Tech in Asia</a>. I am a <a href="https://www.pmi.org/certifications/types/certified-associate-capm" target="_blank" rel="noopener">Certified Associate of Project Management (CAPM)®</a>, 
                        a member of the <a href="http://www.fccj.or.jp/" target="_blank" rel="noopener">Finnish Chamber of Commerce Japan</a>, and business-proficient in English, Japanese (<a href="https://www.jlpt.jp/e/about/levelsummary.html" target="_blank" rel="noopener">N1</a>) and Finnish languages.
                    </p>
                </div>
            </div>
            <hr class="sh-divider-blank">
            <div class="row">
                <div class="col-lg-1 mb-4 rounded" style="text-align: center; background-color: #fff; border: 1px solid #fff">
                    <i class="fa fa-globe fa-3x pb-2" style="color: #357"></i>
                </div>
                <div class="col-lg my-auto">
                    <h3>{% trans 'Case examples - Direct startup growth advisory' %}</h3>
                    <ul>
                        <li>Operational support and Japan entry PMO for an European startup with over €50 million in total investment.</li>
                        <li>Mentor for a Japanese consumer app startup in a government-sponsored startup acceleration program.</li>
                        <li>Provided pitch training for a Japanese manufacturing startup planning to enter the Singaporean market.</li>
                    </ul>
                    <div class="rounded mb-4 p-3" style="background-color: #f6f6f6; border: 1px solid #aaa">
                        <p class="p-0 m-0" style="font-size: 0.8rem;">
                            The challenge of startup founders is that they have very limited time for other things than sales and growth.
                            Maneuvering through the <i>valley of death</i>, transforming a loose group of colleagues into an <i>organization</i>,
                            and entering a new market which operates on different <i>market dynamics</i> are next to impossible to master alone. As a mentor,
                            I can advise on best practices and fill-in a broad variety of temporary bilingual operational roles, combining state-of-the-art 
                            techniques such as agile project management, lean startup and general business administration frameworks.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 mb-4 rounded" style="text-align: center; background-color: #fff; border: 1px solid #fff">
                    <i class="fa fa-briefcase fa-3x pb-2" style="color: #223"></i>
                </div>
                <div class="col-lg my-auto">
                    <h3>{% trans 'Case examples - Corporate co-innovation advisory' %}</h3>
                    <ul>
                        <li>Performed business needs analysis for a corporation and listed 100 startups as collaboration candidates.</li>
                        <li>Conducted qualitative due diligence on a multi-million venture capital investment in real estate industry.</li>
                        <li>Provided hands-on negotiation support for co-innovation between a Japanese corporation and a global startup.</li>
                    </ul>
                    <div class="rounded mb-4 p-3" style="background-color: #f6f6f6; border: 1px solid #aaa">
                        <p class="p-0 m-0" style="font-size: 0.8rem;">
                            Large corporations often have plenty of assets, but no permission to spend resources on exploring
                            disruptive new ideas, no resources to cope with shortening innovation lifecycle, too slow processes to
                            allow rapid agile development, and little experience of intercultural teams and global market entry. As
                            a consultant, I assess the needs and goals of the corporation and provide a framework for startup
                            collaboration which reduces the likelihood of failure and gives an idea of the best practices to proceed.
                            I also facilitate ground-level meetings in both English and Japanese.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 mb-4 rounded" style="text-align: center; background-color: #fff; border: 1px solid #fff">
                    <i class="fa fa-seedling fa-3x pb-2" style="color: #055"></i>
                </div>
                <div class="col-lg my-auto">
                    <h3>{% trans 'Case examples - Public sector startup advisory' %}</h3>
                    <ul>
                        <li>Invited over 190 global startups to Japan and matched them with over 200 Japanese large corporations.</li>
                        <li>Conducted foreign startup ecosystem research in the Nordic countries and Russia for a local ministry.</li>
                        <li>Collaborated with local foreign embassies and the metropolitan government to showcase global startups.</li>
                    </ul>
                    <div class="rounded mb-4 p-3" style="background-color: #f6f6f6; border: 1px solid #aaa">
                        <p class="p-0 m-0" style="font-size: 0.8rem;">
                            The government wants to increase local ecosystem competitiveness, attract skilled global talent, foster
                            new innovation, and support the society as a whole while under constant pressure and observation from taxpayers.
                            Furthermore, the government is constantly developing policies and innovation schemes that work in the local context.
                            As an advisor, I can support the government both in a policy researcher role and also as an organizer of
                            specific government innovation and startup initiatives.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="sh-divider-blank">
            <div class="row">
                <div class="col-lg-3" style="text-align: center">
                    <figure class="figure my-auto">
                        <img class="rounded" src="{% static 'img/cvspeaker01.jpg' %}" alt="{% trans 'Judging a startup pitch contest at Slush Tokyo, 2018' %}" width="200" height="200" />
                        <figcaption class="figure-caption"><a href="https://www.slush.org/" target="_blank" rel="noopener">Slush Tokyo</a>, 2018 (Japan)</figcaption>
                    </figure>
                </div>
                <div class="col-lg-3" style="text-align: center">
                    <figure class="figure my-auto">
                        <img class="rounded" src="{% static 'img/cvspeaker02.jpg' %}" alt="{% trans 'Speaking about the Japanese startup ecosystem at Ignite conference, Manila, 2018' %}" width="200" height="200" />
                        <figcaption class="figure-caption"><a href="https://www.ignite.ph/" target="_blank" rel="noopener">Ignite Manila</a>, 2018 (Philippines)</figcaption>
                    </figure>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="feature rounded p-3">
                        <p class="mb-0">My mission is to make the Japanese innovation ecosystem more global and competitive. Currently, most startups and corporations struggle with the information barrier caused by gaps in cultural and linguistic understanding. As a resident of Japan, it is in my utmost interest to help realize a better society to deliver a happier life to all of us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="sh-divider">

    <div class="row featurette">
        <div class="container sh-experience">
            <div class="row">
                <div class="col-lg">
                    <h2 class="featurette-heading">{% trans 'Education' %}</h2>
                </div>
            </div>
            <hr class="sh-divider-blank">
            <div class="row">
                <div class="col-lg-1 my-auto" style="text-align: center">
                    <i class="fa fa-graduation-cap fa-3x pb-2" style="color: #422"></i>
                </div>
                <div class="col-lg my-auto">
                    <h3><a href="https://rikkyo-mib.jp/" target="_blank" rel="noopener">Rikkyo University, Graduate School of Business</a> (Tokyo)</h3>
                    <ul>
                        <li>Graduation thesis focused global strategic M&A with DCF, multiples valuations and qualitative due diligence.</li>
                        <li>Conducted a Japan market entry feasibility study for a Nordic retail startup.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 my-auto" style="text-align: center">
                    <i class="fa fa-graduation-cap fa-3x pb-2" style="color: #224"></i>
                </div>
                <div class="col-lg my-auto">
                    <h3><a href="https://www.utu.fi/en/university/turku-school-of-economics" target="_blank" rel="noopener">University of Turku, School of Economics</a> (Finland)</h3>
                    <ul>
                        <li>Graduation thesis focused Japanese business culture and intercultural communication.</li>
                        <li>Certificates in Japanese language and information systems management in business administration.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr class="sh-divider">

    <div class="row featurette">
        <div class="container abilities">
            <div class="row">
                <div class="col-lg">
                    <h2 class="featurette-heading">{% trans 'Technical abilities' %}</span></h2>
                </div>
            </div>
            <hr class="sh-divider-blank">
            <div class="row">
                <div class="col-lg-6 my-2">
                    <div class="shadow rounded bg-secondary">
                        <div class="row">
                            <div class="col-lg m-3">
                                <div style="float: left; width: 4rem"><i class="fa fa-briefcase fa-3x" style="color: #fff"></i></div>
                                <div style="float: left; font-size: 1.3rem" class="mt-2 text-light">{% trans 'Innovation management' %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <ul class="p-0 mx-5 text-light">
                                    <li>New business needs and strategy analysis</li>
                                    <li>Startup search and qualitative due diligence</li>
                                    <li>Market entry and business growth support</li>
                                    <li>State-of-the-art frameworks and models</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-2">
                    <div class="shadow rounded bg-light">
                        <div class="row">
                            <div class="col-lg m-3">
                                <div style="float: left; width: 4rem"><i class="fa fa-calendar-check fa-3x" style="color: #000"></i></div>
                                <div style="float: left; font-size: 1.3rem" class="mt-2">{% trans 'Project management' %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <ul class="p-0 mx-5">
                                    <li>Experience of both PM and PMO roles</li>
                                    <li>Managing virtual and multicultural teams</li>
                                    <li>Waterfall, agile, scrum and kanban styles</li>
                                    <li><a href="https://www.pmi.org/certifications/types/certified-associate-capm" target="_blank" rel="noopener">Certified Associate of Project Management®</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 my-2">
                    <div class="shadow rounded bg-light">
                        <div class="row">
                            <div class="col-lg m-3">
                                <div style="float: left; width: 4rem"><i class="fa fa-globe fa-3x" style="color: #000"></i></div>
                                <div style="float: left; font-size: 1.3rem" class="mt-2">{% trans 'Intercultural management' %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <ul class="p-0 mx-5">
                                    <li>Meeting facilitation in English and Japanese</li>
                                    <li>Lectures about cultural differences</li>
                                    <li>Tools from <a href="https://www.hofstede-insights.com/product/compare-countries/" target="_blank" rel="noopener">Hofstede</a>, <a href="https://www.erinmeyer.com/" target="_blank" rel="noopener">Meyer</a>, <a href="https://en.wikipedia.org/wiki/Edward_T._Hall" target="_blank" rel="noopener">Hall</a>, and more</li>
                                    <li>Book about cultural differences (in the works)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-2">
                    <div class="shadow rounded bg-secondary">
                        <div class="row">
                            <div class="col-lg m-3">
                                <div style="float: left; width: 4rem"><i class="fa fa-database fa-3x" style="color: #fff"></i></div>
                                <div style="float: left; font-size: 1.3rem" class="mt-2 text-light">{% trans 'Product development' %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <ul class="p-0 mx-5 text-light">
                                    <li>Market research and consumer research</li>
                                    <li>Product customer journey development</li>
                                    <li>Experience of Python, Django, PHP, Symfony, C++</li>
                                    <li>Developed this website (<a href="https://github.com/jaakkorajaniemi" target="_blank" rel="noopener">available on github</a>)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}